.frame {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border: 1px solid rgb(255,0,0);
}

.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.zoomin img:hover {
  /*width: 300px;*/
  /*height: 300px;*/
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transition: scale(1.5);
}

